@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 576px) {
  .shadow-sm-none {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}